/* body {
  margin: 0;
  font-family: "Lato", sans-serif;
} */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #dbdbdb;
  position: fixed;
  height: 100%;
  overflow: auto;

  margin-top: 50px;
}

.sidebar li {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  
}
 
.sidebar li.active {
  background-color: rgb(7, 247, 27);
  color: white;
}

.sidebar li:hover:not(.active) {
  background-color: rgb(67, 68, 67);
  color: white;
  text-decoration-color: beige;
}

div.content {
  margin-left: 200px;
  padding: 20px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}